datajoint>=0.13.0
element-lab>=0.1.0b0
element-animal>=0.1.0b0
element-session>=0.1.0b0
element-deeplabcut>=0.0.0a0
element-interface @ git+https://github.com/datajoint/element-interface.git
ipykernel>=6.0.1
pygit2
